.pole_prawe
{
	text-align: justify;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px; 
	position: top;
}

.pole_lewe
{
	text-align: justify;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px; 
	position: top;
}

.opis
{
	max-width: 350px;
	padding-left: 10px;
	padding-right: 10px;
}

.dodaj
{
	text-align: center;
	padding: 0;
}


.submit
{
	background: #ff6624; 
	color: #ffffff;
	padding: 5px;
	border: 0px solid #000000; 
	font-size: 12px;
}

img
{
	width: 100px;
	height: 100px;
}

.zdjecie
{
	padding: 0;
	max-width: 100px;
	min-width: 100px;
}

ol2
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 16px;
	height: 30px;
	line-height: 200%;
	/*display: inline-block;*/
}

ol2 a
{
	text-decoration: none;
	display: block;
}

ol2 > li
{
	padding-left: 10px;
	height: 30px;
	border: 1px dashed #ffffff;
}

ol2 > li > ul
{
	padding: 10;
	margin: 0;
	list-style-type: none;
	font-size: 16px;
	height: 30px;
	line-height: 200%; 
	display: none;/* schowanie podmenu/potomków*/
}

/* aby było rowijane menu po jajechaniu kursorem na link */
ol2 > li:hover > ul
{
	display: block; /* pokazuj podmenu/potomków jako element blokowy */
}

ol2 > li > ul a /* wygląd linków znajdujących się wewnąrz struktury ol */
{
	text-decoration: none;
	display: block;
}

ol2 > li > ul > li /* stylizacja elementu li którego rodzicem jest ol */
{
	float: left;
	width: 140px;
	height: 30px;
	padding: 0 5px;
	text-align: left;
	font-size: 12px;
	position: relative;
	border-top: 1px dashed #ffffff;
}