<!DOCTYPE html>

<html ng-app="Store" ng-controller="StoreController">

<head>


    <meta charset="UTF-8">
    <link rel="stylesheet" href="myCSS.css">
    <link rel="stylesheet" href="reset.css">
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="angular-route.js"></script>
    <script data-require="angular-ui-bootstrap@0.3.0" data-semver="0.3.0" src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.3.0.min.js"></script>


    <link href="http://s3.amazonaws.com/codecademy-content/projects/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <script src="app.js"></script>

    <title>Asos</title>

</head>


<body>
<div class="navbar">
    <ul class="navbar-header">
        <li><a href="ProductPage.html"><img class="basket"
                                            src="basket.jpg"></a>
        </li>
        <li><a ng-click="getCart()" href="#">{{items + " items"}}</a></li>
        <li><a class="last" href="#">PLN</a></li>
    </ul>


    <!--<div class="collapse navbar-collapse" id="myNavbar">-->
    <form class="form-inline">
        <div class="form-group">
            <input type="text" class="form-control" id="searchFor" ng-model="query"
                   placeholder="Browse the Collection...">
            <label for="searchFor"><img id="searchSymbol" ng-click="getResults(1)" class="search"
                                        src="search.png"></label>

        </div>
    </form>
    <!--</div>-->
    <div class="pull-right">
        <a href="indexHTML.html" ><img class="logo" src="logo.jpg"> </a>
        <a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
        <a ng-hide="isLogged" ng-click="toLog()" class="sign" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a>
        <a ng-show="isLogged" ng-click="logout()" class="sign" href="#"><span class="glyphicon glyphicon-log-in"></span>{{"  " + uName + " Logout "}}</a>
    </div>

</div>  <!--end of navbar -->


<div class="nav">
    <ul>
        <li ng-click="displayCategory()"><a href="#">Accesories</a></li>
        <li><a href="#">Outwear</a></li>
        <li><a href="#">Knitwear</a></li>
        <li><a href="#">Bags</a></li>
        <li><a href="#" class="last">Shoes</a></li>
    </ul>
</div>


<div ng-show="triesToLog"  class ="container">
    <section>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" ng-model="username" >
            <label for="password">Password:</label>
            <input type="password" id="password" ng-model="password">
            <button type="submit" ng-click="login()">Login</button>
        </form>
    </section>
</div>

<cat-results ng-show="displayItems"></cat-results>
<cart-results ng-show="displayCart"></cart-results>


<div class="container container-fluid" ng-show="haveResults" > <!--Div outputting results-->
    <h1>Results</h1>
    <h3>{{numPages()}} remain</h3>
    <ul>
        <div class="row" >
            <div class="col-md-3" id="results" ng-repeat="item in results">
                <img id="imgResult" class="object-fit-contain" ng-src="{{item.image.thumbnailLink}}">
            </div>
        </div>
    </ul>
    <div id="pagi" ng-show="haveResults" data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true"></div>
</div>


<div class="main">


    <div ng-hide="action" class="container">  <!-- COntainer with news, displayed on a main page-->
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1 id="title">November 2017</h1>
            <div class="col-md-3 col-md-offset-9">
                <p> We're opening a new shop on 27th of November, special prices and celebrities, you have to be
                    there</p>
            </div>
            <ol>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
            </ol>
        </div>
    </div>
    <div ng-hide="haveResults" class="container-fluid">
        <div ng-hide="action" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3 ">
                        <a href="#"><img class="img-thumbnail"
                                         src="http://data.whicdn.com/images/219209312/large.jpg"></a>
                        <a href="#">Add to cart</a>        <br>
                        <h5> 13€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail"
                                         src="https://45.media.tumblr.com/481d66b82e6f8f2c7bac94915b08251b/tumblr_mmhchkGWpd1sotab9o1_400.gif"></a>
                        <a href="#">Add to cart</a>  <br>
                        <h5> 199€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="http://data.whicdn.com/images/219220442/large.jpg"></a>
                        <a href="#">Add to cart</a> <br>
                        <h5> 111€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="http://data.whicdn.com/images/219214384/large.jpg"></a>
                        <a href="#">Add to cart </a>   <br>
                        <h5> 188€</h5></div>

                </div>
            </div>
        </div>




        <div id="f" >
            <div class="footer">
                <p> &copy Asos 2016</p> <a href="#">Terms of use </a>
            </div>
        </div>

    </div>
</div>
</body>


</html>
