<!DOCTYPE html>
<html ng-app="route"  ng-controller="mainController">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GuitarCenter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.png"/>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="pages/sale.css" rel="stylesheet">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/script.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="js/main.js"></script>
<script src="bower_components/bootstrap-ui/src/accordion/accordion.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
<!--    <script src="bower_components/ngCart/dist/ngCart.js"></script>-->

</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-fixed-top nav-top">
        <div class="row">
            <!--haburger-->
            <div class="dropdown col-xs-8 visible-sm visible-xs">
                <button class="btn btn-primary dropdown-toggle btn-lg" type="button" id="dropdownMenu1"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    <span class="caret"></span>
                </button>
                <div class="dropdown-menu">
                    <div class="input-group">
                        <input type="text" class="login form-control" placeholder="Search for...">
                            <span class="input-group-btn">
        <button class="login btn btn-default" type="button">Go!</button>
      </span>
                    </div>
                    <div class="visible-xs">
                        <table class="table table-hover">
                            <thead>
                            <td class="col-xs-9">Item</td>
                            <td class="col-xs-1"> Multiply</td>
                            <td class="col-xs-2">Cost</td>
                            <td class="col-xs-1"></td>
                            </thead>
                            <tr  ng-repeat="cart in itemincart">
                                <td>{{cart.name}}</td>
                                <td>
                                    <input id="multiply" class="form-control" type="number" value="1"/>
                                </td>
                                <td>{{cart.cost}}</td>
                                <td>
                                    <button type="button" class="delate" aria-label="Close"><span aria-hidden="true">&times;</span>
                                    </button>
                                </td>
                            </tr>

                            <tr class="danger">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{sumary}</td>
                            </tr>
                        </table>

                        <li>
                            <a href="#cart/">
                                <button class="btn btn-block btn-success">Buy</button>
                            </a>
                        </li>
                    </div>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Log In</a></li>
                    <li><a href="#sign-in">Sign In</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#sale">SALE</a></li>
                    <li><a href="#electric">Electric</a></li>
                    <li><a href="#acoustic">Acustic</a></li>
                    <li><a href="#classic">Classic</a></li>
                    <li><a href="#bass">Bass</a></li>
                    <li><a href="#accesories">Acessories</a></li>
                    <li role="separator" class="divider visible-xs"></li>
                    <li class=" visible-xs"><a href="#">Terms</a></li>
                    <li class=" visible-xs"><a href="#">FQO</a></li>
                    <li class=" visible-xs"><a href="#">Contact</a></li>

                </div>
            </div>
            <!--haburger end-->
            <div class="navbar-header col-lg-2 col-xs-4 col-sm-3">
                <a class="navbar-brand" href="index.html#/">Guitar Center</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form navbar-left col-lg-6" role="login">
                        <div id="login-panel" ng-show="loginpanel" class="form-group">
                            <input type="text" class="login-input login form-control " placeholder="Name">
                            <input type="password" class="login-input login form-control" placeholder="Password">
                            <button required ng-model="name" class="login-input btn btn-default login" type="button">
                                OK
                            </button>
                        </div>
                        <button ng-click="hideshow()" type="button" class="log-in btn login ">Log In</button>
                        <a href="#sign-in">
                            <button type="button" class="btn login">Sign In</button>
                        </a>
                    </form>
                    <li>
                        <div class="dropdown">
                            <button id="cart" class="btn btn-default dropdown-toggle col-lg-3" type="button"
                                    id="dropdownMenu1"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {Cena}<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <table class="table table-hover" >
                                    <thead>
                                    <tr>
                                        <td>Item</td>
                                        <td>Multiply</td>
                                        <td>Cost</td>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="cart in itemInCart">
                                        <td>{{cart.name}}></td>
                                        <td>multiply</td>
                                        <td>{{cart.cost}}</td>
                                    </tr>

                                    <thead>
                                    <td></td>
                                    <td></td>
                                    <td>summary</td>
                                    </thead>
                                </table>
                                <li>
                                    <a class="btn btn-block btn-success" href="#cart/" role="button">Buy</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!--nav-top end-->
    <div class="row">
        <nav class="navbar hidden-xs">
            <div class="collapse navbar-bottom navbar-collapse">
                <ol class="menu">

                    <li>
                        <a href="index.html#/"> <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                    </li>
                    <li><a href="#electric">Electric</a>
                        <ul>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                        </ul>
                    </li>
                    <li><a href="#acoustic">Acustic</a>
                        <ul>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                        </ul>
                    </li>
                    <li><a href="#classic">Classic</a>
                        <ul>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                        </ul>
                    </li>
                    <li><a href="#bass">Bass</a>
                        <ul>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                        </ul>
                    </li>
                    <li><a href="#accesories">Acesories</a>
                        <ul>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                            <li><a href="#">Marka</a></li>
                        </ul>
                    <li><a href="#sale">Sale</a></li>
                </ol>
                <!--menu end-->
                <div class="col-xs-2 col-md-3 pull-right ">
                    <div class="input-group">
                        <input type="text" class="login form-control" placeholder="Search for...">
                            <span class="input-group-btn login">
        <button class="btn btn-default login" type="button">Go!</button>
      </span>
                    </div>
                </div>
                <!--search end-->
            </div>
        </nav>
        <!--nav bar bottom end-->
    </div>
    <!--row end-->
    <!--VIEW!!-->
    <div id="content" style="display: none;" ng-view>
        <!--VIEW!!-->
    </div>
    <div class="container-fluid footer">
        <div class="row">
            <nav class=" navbar-inverse navbar-fixed-bottom">
                <div class="collapse navbar-collapse">
                    <div class="navbar-header" id="created">Created by Altimi</div>
                  
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button class="footer-button btn"><a href="#.html">Terms</a></button>
                        </li>
                        <li>
                            <button class="footer-button btn">
                                <a href="#.html">FQU</a></button>
                        </li>
                        <li>
                            <button class="contact footer-button btn">
                                <a href="#.html">Contact</a></button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</body>
</html>
