<style>
    .form-control {
        background-color: #383838;
        color: white;
        font-weight: bold;
    }
</style>

<div class="container">
    <div class="user-singin row">
        <div class="col-md-8 col-md-offset-2" id="accordion">

            <h4>1. E-mail & password</h4>
            <div>
                <form name="userForm" ng-submit="submitForm()" novalidate>
                    <!-- NAME-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
                        <label>Name</label>
                        <input type="text" name="name" class="form-control" ng-model="user.name" ng-minlength="3"
                               ng-maxlength="15" required>
                        <p ng-show="userForm.name.$error.minlength" class="help-block">Name is too short.</p>
                        <p ng-show="userForm.name.$error.maxlength" class="help-block">Name is too long.</p>
                    </div>
                    <!--SURNAME-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : userForm.Surname.$invalid && !userForm.Surname.$pristine }">
                        <label>Surname</label>
                        <input type="text" name="Surname" class="form-control" ng-model="user.Surname" ng-minlength="3"
                               ng-maxlength="15" required>
                        <p ng-show="userForm.Surname.$error.minlength" class="help-block">Surname is too short.</p>
                        <p ng-show="userForm.Surname.$error.maxlength" class="help-block">Surname is too long.</p>
                    </div>
                    <!-- USERNAME -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : userForm.username.$invalid && !userForm.username.$pristine }">
                        <label>Username</label>
                        <input type="text" name="username" class="form-control" ng-model="user.username"
                               ng-minlength="3" ng-maxlength="12" required>
                        <p ng-show="userForm.username.$error.minlength" class="help-block">Username is too short.</p>
                        <p ng-show="userForm.username.$error.maxlength" class="help-block">Username is too long.</p>
                    </div>
                    <!-- EMAIL -->
                    <div class="form-group"
                         ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                        <label>Email</label>
                        <input type="email" name="email" class="form-control" ng-model="user.email" required>
                        <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a
                            valid email.</p>
                    </div>
                    <!--PASSWORD-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                        <label>Password</label>
                        <input type="password" name="password" id="password" class="form-control"
                               ng-model="user.password" ng-minlength="8" required>
                        <p ng-show="userForm.password.$error.minlength" class="help-block">password is too short(min
                            8charts).</p>
                    </div>
                    <!--PASSWORD REPEAt-->
                    <div class="form-group">
                        <label>Repeat Password</label>
                        <input type="password" name="password2" id="password2" class="form-control" required>
                        <p id="alertps2" class="help-block">not match</p>
                    </div>
                    <!--PHONE NUMBER-->
                    <div class="form-group" ng-class="{ 'has-error' : userForm.username.$invalid}">
                        <label>Phone number(if you want)</label>
                        <input type="text" id="number" name="number" class="form-control" ng-model="user.number"
                               ng-minlength="9" ng-maxlength="9">
                        <p ng-show="userForm.number.$error.minlength" class="help-block">Number doesn't have 9 chars</p>
                        <p ng-show="userForm.number.$error.maxlength" class="help-block">Number doesn't have 9 chars</p>
                        <p id="allertnumber" class="help-block">Must be numbers</p>
                    </div>
                </form>
            </div>

            <h4>2. Adress</h4>
            <div>
                <form name="adressForm" ng-submit="adressForm()" novalidate>
                    <!--STREEET-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : adressForm.street.$invalid && !adressForm.street.$pristine }">
                        <label>Street</label>
                        <input type="text" name="street" class="form-control" ng-model="adress.street" ng-minlength="3"
                               ng-maxlength="25" required>
                        <p ng-show="adressForm.street.$error.minlength" class="help-block">City is too short.</p>
                        <p ng-show="adressForm.street.$error.maxlength" class="help-block">City is too long.</p>
                    </div>
                    <!--NUMBER OF HOUSE-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : adressForm.house.$invalid && !adressForm.house.$pristine }">
                        <label>Number of house</label>
                        <input type="text" name="house" class="form-control" ng-model="adress.house" ng-maxlength="15"
                               required>
                        <p ng-show="adressForm.house.$error.maxlength" class="help-block">house is too long.</p>
                        <p ng-show="adressForm.house.$error.required" class="help-block">Error</p>
                    </div>
                    <!--POSTCODE-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : adressForm.postcode.$invalid && !adressForm.postcode.$pristine }">
                        <label>postcode</label>
                        <input type="text" name="postcode" class="form-control" ng-model="adress.postcode"
                               ng-minlength="5" ng-maxlength="9" required>
                        <p ng-show="adressForm.postcode.$error.minlength" class="help-block">postcode is too short.</p>
                        <p ng-show="adressForm.postcode.$error.maxlength" class="help-block">postcode is too long.</p>
                    </div>
                    <!--city-->
                    <div class="form-group"
                         ng-class="{ 'has-error' : adressForm.city.$invalid && !adressForm.city.$pristine }">
                        <label>City</label>
                        <input type="text" name="city" class="form-control" ng-model="adress.city" ng-minlength="3"
                               ng-maxlength="15" required>
                        <p ng-show="adressForm.city.$error.minlength" class="help-block">City is too short.</p>
                        <p ng-show="adressForm.city.$error.maxlength" class="help-block">City is too long.</p>
                    </div>
                </form>
            </div>

            <h4>3. Accept</h4>
            <div id="accept">
                <form name="agreeForm" novalidate>
                    <div class="form-group"
                         ng-class="{ 'has-error' : agreeForm.city.$invalid && !agreeForm.city.$pristine }">
                        <label id="checkbox">
                            <a href="#"> <strong>Accept use of terms</strong></a><input type="checkbox" name="agree"
                                                                                        ng-model="agree.agree" required>
                        </label>
                        <p ng-show="agreeForm.agree.$error.required" class="help-block">Must accept</p>
                    </div>
                    <label id="checkbox">
                        <a href="#"> <strong>Accept something</strong></a><input type="checkbox">
                    </label>
                    <label id="checkbox">
                        <a href="#"> <strong>Accept something</strong></a><input type="checkbox">
                    </label>
                    <label id="checkbox">
                        <a href="#"> <strong>Accept something</strong></a><input type="checkbox">
                    </label>

                    <a href="#done">
                        <button id="registry" type="subv mit" class="btn  btn-danger btn-lg"
                                ng-disabled="userForm.$invalid || adressForm.$invalid || agreeForm.$invalid">
                            Registry!
                        </button>
                    </a>
                </form>
            </div>

        </div>
    </div>
</div>

<script>$(document).ready(function () {
    $("#content").fadeIn(300);
});</script>

<script>
    $(function() {
        $( "#accordion" ).accordion({
            heightStyle: "content"

        });
    });
</script>