<div class="container" ng-controller="signController">

    <style>
        input.ng-invalid {
            background-color:pink;
        }
        input.ng-valid {
            background-color:lightgreen;
        }
    </style>

    <div class=" user-singin row ">
        <div class="col-md-8 col-md-10 col-md-offset-2">
            <form class="col-sm-6 ">
                <div class="form-group" novalidate="novalidate" data-ng-submit="submit();">
                    <label for="name">Name</label>
                    <input ng-model="model.username" ng-minlength="3" ng-maxlength="10"
                           required type="text" class="form-control login" placeholder="Name">
                    <label for="Surname" required  ng-model="Surname">Surname</label>
                    <input type="text" class="form-control login" placeholder="Surname">
                    <label for="password">Password</label>
                    <input type="password" class="form-control login" placeholder="Password">
                    <label for="password">Return password</label>
                    <input type="password" class="form-control login" placeholder="Password">
                    <label for="Phone">Phone</label>
                    <input type="text" class="form-control login" placeholder="Phone">
                    <label for="E-mail">E-mail</label>
                    <input type="e-mail" class="form-control login" placeholder="E-mail">
                </div>

            </form>
            <form class="col-sm-6">
                <div class="form-group">
                    <label for="Street">Street</label>
                    <input type="text" class="form-control login" placeholder="Text input">
                    <label for="Home/local">Home/local</label>
                    <input type="text" class="form-control login" placeholder="Home/local">
                    <label for="Post-code">Post-code</label>
                    <input type="Postcode" class="form-control login" placeholder="Post-code">
                    <label for="name">City</label>
                    <input type="text" class="form-control login" placeholder="City">
                    <div class="checkbox ">
                        <label id="checkbox">
                            <input type="checkbox"><strong>Accept user terms</strong>
                        </label>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <button class="btn btn-block btn-danger">Registry</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>$(document).ready(function(){ $("#content").fadeIn(300); });</script>