<top-nav> </top-nav>

<div class="nav">
    <ul>
        <li ng-click="displayCategory()"><a href="#/">Accesories</a></li>
        <li><a href="#/carousel.html">Outwear</a></li>
        <li><a href="#">Knitwear</a></li>
        <li><a href="#">Bags</a></li>
        <li><a href="#" class="last">Shoes</a></li>
    </ul>
</div>


<div ng-show="triesToLog"  class ="container">
    <section>
        <form>
            <label for="username">Username:</label> <br> <br>
            <input type="text" id="username" ng-model="username" > <br> <br>
            <label for="password">Password:</label> <br> <br>
            <input type="password" id="password" ng-model="password"> <br> <br>
            <button type="submit" ng-click="login()">Login</button> <br> <br>
        </form>
    </section>
</div>

<cat-results ng-show="displayItems"></cat-results>
<cart-results ng-show="displayCart"></cart-results>


<div class="container container-fluid" ng-show="haveResults" > <!--Div outputting results-->
    <h1>Results</h1>
    <h3>{{numPages()}} remain</h3>
    <ul>
        <div class="row" >
            <div class="col-md-3" id="results" ng-repeat="item in results">
                <img id="imgResult" class="object-fit-contain" ng-src="{{item.image.thumbnailLink}}">
            </div>
        </div>
    </ul>
    <div id="pagi" ng-show="haveResults" data-pagination="" data-num-pages="numPages()"
         data-current-page="currentPage" data-max-size="maxSize"
         data-boundary-links="true"></div>
</div>

<news-page> </news-page>



    <!--<div ng-hide="action" class="container">  &lt;!&ndash; COntainer with news, displayed on a main page&ndash;&gt;-->
        <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
            <!--<h1 id="title">November 2017</h1>-->
            <!--<div class="col-md-3 col-md-offset-9">-->
                <!--<p> We're opening a new shop on 27th of November, special prices and celebrities, you have to be-->
                    <!--there</p>-->
            <!--</div>-->
            <!--<br> <br><br>-->
            <!--<ol>-->
                <!--<li><a class="button" href="#">1</a></li>-->
                <!--<li><a class="button" href="#">2</a></li>-->
                <!--<li><a class="button" href="#">3</a></li>-->
            <!--</ol>-->
        <!--</div>-->
        <!--</div>-->


        <!--<section id="carousel" ng-carousel-->
                 <!--ng-init="curSlide=1; numSlides=6"-->
                 <!--ng-swipe-right="curSlide=curSlide-1"-->
                 <!--ng-swipe-left="curSlide=curSlide+1">-->

            <!--<ul>-->
                <!--<li><img src="./img/fashion1.jpg" />-->
                <!--<li><img src="./img/fashion2.jpg" />-->
            <!--</ul>-->

            <!--<div id="prev-button" ng-hide="curSlide==1"-->
                 <!--ng-click="curSlide=curSlide-1"> &lt; </div>-->

            <!--<div id="next-button" ng-hide="curSlide==numSlides"-->
                 <!--ng-click="curSlide=curSlide+1">&gt; </div>-->
        <!--</section>-->

    <div ng-hide="haveResults" class="container-fluid">
        <div ng-hide="action" class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-md-3 ">
                        <a href="#"><img class="img-thumbnail"
                                         src="http://data.whicdn.com/images/219209312/large.jpg"></a>
                        <a href="#">Add to cart</a>        <br>
                        <h5> 13€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail"
                                         src="https://45.media.tumblr.com/481d66b82e6f8f2c7bac94915b08251b/tumblr_mmhchkGWpd1sotab9o1_400.gif"></a>
                        <a href="#">Add to cart</a>  <br>
                        <h5> 199€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="http://data.whicdn.com/images/219220442/large.jpg"></a>
                        <a href="#">Add to cart</a> <br>
                        <h5> 111€</h5></div>

                    <div class="col-xs-6 col-md-3">
                        <a href="#"><img class="img-thumbnail" src="http://data.whicdn.com/images/219214384/large.jpg"></a>
                        <a href="#">Add to cart </a>   <br>
                        <h5> 188€</h5></div>

                </div>
            </div>
        </div>
</div></div>



